@@INCLUDE@@ variables.css

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 25px 10px 25px;
    border: 3px solid var(--panel-color);
    background: var(--panel-color);
    border-radius: 25px;
}

.login-input-container {
    margin-bottom: 1em;
}

.login-input-label {
    display: inline-block;
    width: 6em;
    font-weight: bold;
}

.login-input-field {
    background: var(--input-color);
    color: var(--text-color);
    border: hidden;
    border-radius: 10px;

    padding-left: 5px;
    padding-right: 5px;
}

.login-button {
    padding: 1em;

    font-weight: bold;
    font-size: 18px;
    float: right;

    background: var(--input-color);
    color: var(--text-color);

    border: hidden;
    border-radius: 10px;
}

.login-error {
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--error-color);
}
