@@-- $1 is width for profile picture

.new-reply-form {
    margin-top: 30px;
    margin-bottom: 30px;
}

.reply-input {
    width: 100%;
}

.reply-container {
    width: 100%;
}

.reply-profile-picture-container {
    width: @_$1_@;
    padding-right: 1em;
}

.reply-profile-picture-container img {
    width: 100%;
}

.reply-container td {
    vertical-align: top;
    padding-bottom: 1em;
}

.replies-pages {
    margin-top: 1em;

    text-align: center;
}

.reply-actions {
    float: right;
}

.reply-subtitle {
    padding-bottom: 10px;
}

.replies {
    padding-top: 35px;
}

.replies-total {
    font-size: 24px;
    margin-bottom: 0.5em;
}
