:root {
    --bg-color: #1e191e;
    --text-color: #e4d5e8;
    --panel-color: #6b1048;
    --input-color: #421e47;
    --input-active-color: #4c2251;
    --error-color: #f77178;
    --link-color: #cae0f9;

    --upload-color: #54c977;
    --download-color: #c96454;
}

.hellish-input-field, .hellish-select {
    background: var(--input-color);
    color: var(--text-color);
    border: hidden;
    border-radius: 10px;

    padding-left: 5px;
    padding-right: 5px;
}

.hellish-error {
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--error-color);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

h1:not(.hellish-content-box h1), h2:not(.hellish-content-box h2), h3:not(.hellish-content-box h3),
h4:not(.hellish-content-box h4), h5:not(.hellish-content-box h5), h6:not(.hellish-content-box h6) {
    font-weight: normal;
    margin: 0;
}

.hellish-content-box {
    background: var(--panel-color);
    border: hidden;
    border-radius: 10px;

    padding: 10px;
}

.hellish-content-box p {
    white-space: pre-wrap;
}

.hellish-content-box pre {
    white-space: pre-wrap;
}

.hellish-content-box img {
    max-width: 40%;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.hellish-button {
    padding: 0.8em;
    margin-top: 1em;

    font-weight: bold;
    font-size: 18px;

    background: var(--input-color);
    color: var(--text-color);

    border: hidden;
    border-radius: 10px;

    transition: 250ms ease-in;
}

.hellish-button:hover {
    background-color: var(--input-active-color);
    transition: 250ms ease-out;
}

.hellish-thin-button {
    padding: 0.5em;
    margin-top: 1em;
}

.hellish-thick-button {
    padding: 1em;
    margin-top: auto;
}

.hellish-results-table {
    border-collapse: collapse;
    margin-top: 1em;
}

.hellish-results-header th {
    padding: 5px 10px;
}

.hellish-name-column {
    min-width: 150px;
}

.search-line td {
    padding: 0 10px;
    text-align: center;
}

.search-line td:first-child {
    padding: 0 10px 10px 0;
    text-align: left;
}

.search-line td:last-child {
    padding: 0 0 0 10px;
}

@@-- Specifically for navbar.html
.navbar-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
