:root {
    --bg-color: #1e191e;
    --text-color: #e4d5e8;
    --panel-color: #6b1048;
    --input-color: #421e47;
    --error-color: #f77178;
    --link-color: #9bd7f7;
}

.hellish-input-field {
    background: var(--input-color);
    color: var(--text-color);
    border: hidden;
    border-radius: 10px;

    padding-left: 5px;
    padding-right: 5px;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.link-button {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}
