:root {
    --bg-color: #1e191e;
    --text-color: #e4d5e8;
    --panel-color: #6b1048;
    --input-color: #421e47;
    --error-color: #f77178;
    --link-color: #cae0f9;

    --upload-color: #54c977;
    --download-color: #c96454;
}

.hellish-input-field, .hellish-select {
    background: var(--input-color);
    color: var(--text-color);
    border: hidden;
    border-radius: 10px;

    padding-left: 5px;
    padding-right: 5px;
}

.hellish-error {
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--error-color);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

@@-- Specifically for navbar.html
.navbar-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
